.form-login-title-input-description {
    color: #B3B3B3;
    font-size: 13px;
    line-height: 0;
}

.form-login-password-input-data {
    display: grid;
    grid-template-columns: 70px 150px 80px;
    column-gap: 10px;
}

.form-login-password-inputs-data {
    border-color:#727272;
    border-style: solid;
    border-width: .1px;
    border-radius: 3px;
    background-color: transparent;
    height: 17px;
    width: auto;
    padding: 14px;
    font-size: 17px;
    color: #fff;
}

.form-login-password-inputs-data-select {
    height: 47px;
    padding: 0 17px;
    appearance: none;
    width: 150px;
    background-color: #121212;
}

.form-login-password-inputs-data-select-conteiner svg{
    width: 23px;
    position: absolute;
    left: 190px;
    top: 12px;
    fill: #818181;
    pointer-events: none;
}


.form-singup-progres-checks-data {
    margin: 5px 10px;
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 10px;
    font-size: 13px;
}

.form-singup-progres-checks-data svg {
    margin: auto;
    
    
}