.sing-up-terms {
    display: flex;
    align-items: flex-start;
    column-gap: 10px;
    font-size: 14px;
    background-color: #ffffff1a;
    height: auto;
    padding: 18px ;    
    border-radius: 5px;

}


.sing-up-terms-checbox {
    min-width: 15px;
    height: 15px;
    background: #121212;
    border-radius: 2.5px;
    border: solid 1px #818181;
}

.sing-up-terms-checbox:hover {
    border: solid 1px #1db954;
    cursor: auto;
}

.sing-up-terms:first-of-type {
    margin-bottom: 20px;
    
}

.sing-up-terms-condtions {
    margin-top: 10px;
    font-size: 14.3px;
}

.sing-up-terms-condtions-link {
    color: #1db954;
    text-decoration: underline;
}