.form-login-singup {
    margin-top: 80px;
    text-align: center;
}

.form-login-singup-text {
    color: #A7A7A7;
    font-weight: 400;
}

.form-login-singup-url {
    margin-left: 8px;
    color: #fff;
}

.form-login-singup-url:hover {
    cursor: pointer;
    color: #1ED760;
}

.form-conteiner-button {
    margin: 20px 0;
}