body {
    font-family: "CircularStd";
    margin: 0;
    padding: 0;
    background-color: #000000;
    height: 100%;
}

#root {
  background: linear-gradient(rgba(255, 255, 255, 0.1) 0%, rgb(0, 0, 0) 100%);
  height: 100%;
}


@font-face {
    font-family: "CircularStd";
    src: url("./fonts/CircularStd-Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("./fonts/CircularStd-Book.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("./fonts/CircularStd-Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("./fonts/CircularStd-Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: "CircularStd";
    src: url("./fonts/CircularStd-Black.woff2") format("woff2");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
  }

  @font-face {
    font-family: SpotifyMixUI;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-b342a41ec78025c361c018e5d355ab21.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Deva;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0901-097f,u+200c-200e,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-409aaab18f0fc439f0658d5556df302b.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Deva-Black-f1dca2ee660273063af0316d4b7da438.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Deva;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0901-097f,u+200c-200e,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-b2a990e06d50b37c1516c3d140496934.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Deva-Bold-a218ed3bd8e480245847933a79f4ebfb.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Deva;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0901-097f,u+200c-200e,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-adf5439f4c3e684fd5dd69f64d659efc.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Deva-Book-e1dc3d746b24723f8d3dadb314b97705.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Grek;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0375,u+037a,u+0384,u+0386,u+0388-038a,u+038c,u+038e-03a1,u+03a3-03cf,u+03d7,u+2126,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-b45055a950eac7560342cb7fa07559ad.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Grek-Black-49883536c1a3bfc688235ce40572731d.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Grek;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0375,u+037a,u+0384,u+0386,u+0388-038a,u+038c,u+038e-03a1,u+03a3-03cf,u+03d7,u+2126,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-fafb1410c85fe7e6e81c68e609d4b823.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Grek-Bold-53bb923248ba22cf5554bbe5f434c5c8.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Grek;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0375,u+037a,u+0384,u+0386,u+0388-038a,u+038c,u+038e-03a1,u+03a3-03cf,u+03d7,u+2126,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-5d5a3a10aa26b63a2575ce872ad43f07.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Grek-Book-c9de2c0741586c1ab7b6e95541fc7807.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Arab;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+0600-0603,u+060b-060c,u+0610,u+061b,u+061f,u+0621-063a,u+0640-0659,u+0660-0671,u+0679-0681,u+0683-068a,u+068c-068d,u+068f,u+0691,u+0693,u+0696,u+0698-069a,u+06a1,u+06a4,u+06a6,u+06a9-06ab,u+06af,u+06b1,u+06b3,u+06ba-06bc,u+06be,u+06c0-06c3,u+06cc-06cd,u+06d0,u+06d2-06d5,u+06f0-06f9,u+06fd-06fe,u+2002-2003,u+2009,u+200c-200f,u+25cc,u+fb50-fb85,u+fb88-fbbb,u+fbbd-fbc1,u+fbe4-fbe9,u+fbfc-fbff,u+fc48,u+fc5e-fc63,u+fd3e-fd3f,u+fdf2,u+fdfc,u+fe80-fefc,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-14419efc36612ec0a627c8ad1e7ae3cf.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Arab-Black-9dda323448d48d7e6cabf84d2df7dc11.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Arab;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+0600-0603,u+060b-060c,u+0610,u+061b,u+061f,u+0621-063a,u+0640-0659,u+0660-0671,u+0679-0681,u+0683-068a,u+068c-068d,u+068f,u+0691,u+0693,u+0696,u+0698-069a,u+06a1,u+06a4,u+06a6,u+06a9-06ab,u+06af,u+06b1,u+06b3,u+06ba-06bc,u+06be,u+06c0-06c3,u+06cc-06cd,u+06d0,u+06d2-06d5,u+06f0-06f9,u+06fd-06fe,u+2002-2003,u+2009,u+200c-200f,u+25cc,u+fb50-fb85,u+fb88-fbbb,u+fbbd-fbc1,u+fbe4-fbe9,u+fbfc-fbff,u+fc48,u+fc5e-fc63,u+fd3e-fd3f,u+fdf2,u+fdfc,u+fe80-fefc,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-c638a17a6708a3bd51bd2422c3fedcfb.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Arab-Bold-47ca0fd648a183136981f28d0218cef6.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Arab;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+0600-0603,u+060b-060c,u+0610,u+061b,u+061f,u+0621-063a,u+0640-0659,u+0660-0671,u+0679-0681,u+0683-068a,u+068c-068d,u+068f,u+0691,u+0693,u+0696,u+0698-069a,u+06a1,u+06a4,u+06a6,u+06a9-06ab,u+06af,u+06b1,u+06b3,u+06ba-06bc,u+06be,u+06c0-06c3,u+06cc-06cd,u+06d0,u+06d2-06d5,u+06f0-06f9,u+06fd-06fe,u+2002-2003,u+2009,u+200c-200f,u+25cc,u+fb50-fb85,u+fb88-fbbb,u+fbbd-fbc1,u+fbe4-fbe9,u+fbfc-fbff,u+fc48,u+fc5e-fc63,u+fd3e-fd3f,u+fdf2,u+fdfc,u+fe80-fefc,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-8c0cff2514cf52ffcc4976fa813c4712.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Arab-Book-1cd31794cbdd53724469ba03e8573dba.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Cyrl;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0400-045f,u+0462-0463,u+0472-0475,u+0490-0493,u+049a-049b,u+04a2-04a3,u+04ae-04b3,u+04ba-04bb,u+04d8-04d9,u+04e8-04e9,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-1ce6672693e92d2cb1d04af1690e1f9c.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Black-b4305d9bf82554f631d2636c3ef90c54.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Cyrl;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0400-045f,u+0462-0463,u+0472-0475,u+0490-0493,u+049a-049b,u+04a2-04a3,u+04ae-04b3,u+04ba-04bb,u+04d8-04d9,u+04e8-04e9,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-180db050d109afeef4331b1ee551c349.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Bold-7e54bccaf45728c472079785d5cd4519.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Cyrl;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+00a0,u+00a4,u+00b6-00b7,u+0400-045f,u+0462-0463,u+0472-0475,u+0490-0493,u+049a-049b,u+04a2-04a3,u+04ae-04b3,u+04ba-04bb,u+04d8-04d9,u+04e8-04e9,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-cc791a2e69e25c0440792bd855600ca7.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Cyrl-Book-6f078f781ee313e298ad8997fd1ffe3d.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Hebr;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+0030-0039,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+05b0-05c4,u+05d0-05ea,u+05f0-05f4,u+200e-200f,u+20aa,u+fb2a-fb36,u+fb38-fb3c,u+fb3e,u+fb40-fb41,u+fb43-fb44,u+fb46-fb4f,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-29a8af6f5782cdf3009a5ac966ee4fa6.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Hebr-Black-f52613a9d541248805af1d0bb33102f8.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Hebr;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+0030-0039,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+05b0-05c4,u+05d0-05ea,u+05f0-05f4,u+200e-200f,u+20aa,u+fb2a-fb36,u+fb38-fb3c,u+fb3e,u+fb40-fb41,u+fb43-fb44,u+fb46-fb4f,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-9b609e9268a3f9d73732dc3cc375821e.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Hebr-Bold-caa03e4cb8690e726ef1625c7d91a7a5.woff) format("woff")
}

@font-face {
    font-family: CircularSp-Hebr;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0000,u+000d,u+0020,u+0030-0039,u+00a0,u+00a4,u+00b6-00b7,u+01c4-01c6,u+01f1-01f3,u+02bb-02bc,u+05b0-05c4,u+05d0-05ea,u+05f0-05f4,u+200e-200f,u+20aa,u+fb2a-fb36,u+fb38-fb3c,u+fb3e,u+fb40-fb41,u+fb43-fb44,u+fb46-fb4f,u+ffff;
    src: url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-414f88babad55bb44c9552d9b92504f7.woff2) format("woff2"),url(https://encore.scdn.co/fonts/CircularSp-Hebr-Book-d8209975eafc81a9499df8401a339ddd.woff) format("woff")
}

@font-face {
    font-family: SpotifyMixUI;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-4264b799009b1db5c491778b1bc8e5b7.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUI-Bold-05392dabcaa9fab302f9ddc047b15752.woff) format("woff")
}

@font-face {
    font-family: SpotifyMixUI;
    font-weight: 400;
    font-display: swap;
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-cc3b1de388efa4cbca6c75cebc24585e.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUI-Regular-b342a41ec78025c361c018e5d355ab21.woff) format("woff")
}

@font-face {
    font-family: SpotifyMixUITitle;
    font-weight: 800;
    font-display: swap;
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2 supports variations"),url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2-variations"),url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Extrabold-ba6c73cd7f82c81e49cf2204017803ed.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Extrabold-dd06104c9de7463b60455a65171cab06.woff) format("woff")
}

@font-face {
    font-family: SpotifyMixUITitle;
    font-weight: 700;
    font-display: swap;
    unicode-range: u+0020-007e,u+00a0-00ac,u+00ae-0137,u+0139-0148,u+014a-017e,u+018f,u+01a0-01a1,u+01af-01b0,u+01cd-01d4,u+01e6-01e7,u+01f4-01f5,u+01fa-01ff,u+0218-021b,u+0226-0227,u+0232-0233,u+0237,u+0259,u+02bc,u+02c6-02c7,u+02d8-02dd,u+0300-0304,u+0306-030c,u+0312,u+031b,u+0323,u+0326-0328,u+0335-0338,u+0e3f,u+1e0c-1e0d,u+1e20-1e21,u+1e24-1e25,u+1e36-1e37,u+1e44-1e45,u+1e56-1e57,u+1e62-1e63,u+1e6c-1e6d,u+1e80-1e85,u+1e8a-1e8d,u+1e92-1e93,u+1e9e,u+1ea0-1ef9,u+2002-2003,u+2009-200a,u+2010-2011,u+2013-2015,u+2018-201a,u+201c-201e,u+2020-2022,u+2026,u+2030,u+2032-2033,u+2039-203a,u+2044,u+2070,u+2074-2079,u+2080-2089,u+20a6,u+20a9-20aa,u+20ac,u+20b4,u+20b8-20ba,u+20bd,u+20bf,u+2113,u+2116-2117,u+2122,u+2126,u+2160-2169,u+216c-216f,u+2190-2193,u+2196-2199,u+2202,u+2206,u+220f,u+2211-2212,u+2215,u+221a,u+221e,u+222b,u+2248,u+2260,u+2264-2265,u+fb01-fb02,u+ffff;
    src: url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2 supports variations"),url(https://encore.scdn.co/fonts/SpotifyMixUITitleVariable-8769ccfde3379b7ebcadd9529b49d0cc.woff2) format("woff2-variations"),url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Bold-37290f1de77f297fcc26d71e9afcf43f.woff2) format("woff2"),url(https://encore.scdn.co/fonts/SpotifyMixUITitle-Bold-72703891d365729cfcfa9788c8904a4d.woff) format("woff")
}


body {
  font-family: 'SpotifyMixUI', sans-serif;
}
